{% extends 'base-front.html.twig' %}
{% block body %}

    <div class="container" style="margin-top: 20px;">

        <div class="jumbotron">
            <h2 class="display-4">Bienvenue à DiscoverTN!</h2>

        </div>



    </div>
    </div>
{% endblock %}