{% extends "base.html.twig" %}

{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container">
   <div class="row">
        
       
        <div class="col-md-6 offset-md-3">
            {{ form_start(form, {'attr': {'class': 'form'}}) }}
             {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
            <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        
        </div>
   </div>
</div>
{% endblock %}